@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

}

/* .container{
    max-width:80%;
    margin: 0 auto;
} */

.video-bg video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header{
    z-index: 1;
    margin-left: 50px;
}

header h1{
    color: aliceblue;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: 3px;
}



.login--zone{
    width: 500px;
    height: 100vh;
    background-color: rgb(234, 243, 250, 0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.login--inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px 0;
}

/* input[type="text"],
input[type="password"]{
    width: 280px;
    height: 30px;
    background-color: rgb(240, 248, 255, 0.6);
    border: none;
    border-radius: 5px;

    padding-left: 12px;
    /* border-bottom: 2px solid gray; */
/* }

span{
    text-align: center;
    font-size: 18px;
}

span a{
    text-decoration: none;
    color: brown;
}

span a:hover{

    color: red;
}

input[type="submit"]{
    width: 180px;
    height: 30px;

    border-radius: 5px;
    border: none;

    background-color: brown;
    color: aliceblue;
} */ 

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;


    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding:0 35px 0 5px;
    color: white;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 18px;
    top: 20px;
}

input[type="submit"]{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.register{
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
